body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  font-size: 18px;
}
 li {
   font-weight: bold; color: green;
 }

 body {
  line-height: 150%;background-image: white-grey-cubes.png;
}

a {
  color: grey;
}

a:hover {
  color: green;
}

p {
  text-align: left;
}

a {
  text-decoration: underline;
}

p {
  text-indent: 18px;
}

h2 {
  text-align: center; color: green;
}

#logo {
  color: green; font-size: 50px; font-family: monospace; text-decoration: underline; font-weight: bold;
}

#aboticmmm {
  color: green
}
